body {
  background: url("./img/fundo-monocromatico.avif");
  background-repeat: repeat;
}
header {
  background: #000000;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(58, 58, 58, 1) 50%,
    rgba(255, 255, 255, 1) 100%
  );
  color: #ffffff;
  text-align: center;
  padding: 20px;
  font-family: "Cinzel", serif;
  border-radius: 30px;
}
header img {
  width: 300px;
  height: auto;
}
.linha {
  display: flex;
  gap: 10px;
}
.linha img {
  height: 200px;
  object-fit: cover;
}
.linha img:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}
.linha1 {
  display: flex;
  gap: 10px;
}
.linha1 img {
  height: 200px;
  object-fit: cover;
}
.linha2 {
  display: flex;
  gap: 10px;
}
.linha2 img {
  height: 200px;
  object-fit: cover;
}
.linha3 {
  display: flex;
  gap: 10px;
}
.linha3 img {
  height: 200px;
  object-fit: cover;
}
.linha4 {
  display: flex;
  gap: 10px;
}
.linha4 img {
  height: 200px;
  object-fit: cover;
}
.linhadotempo {
  display: flex;
  gap: 10px;
}
.textlinha {
  text-align: center;
  font-family: "Cinzel", serif;
  font-size: 30px;
}
main h2 {
  text-align: center;
  font-family: "Cinzel", serif;
  font-size: 50px;
}
main p {
  margin-left: 10px;
}
.Idolo h1 {
  text-align: center;
  font-family: "Cinzel", serif;
  font-size: 50px;
}
.Idolos h1 {
  text-align: center;
  font-family: "Cinzel", serif;
  font-size: 50px;
}
.Idolo img {
  display: block;
  margin: 0 auto;
  width: 700px;
  height: auto;
}
.Idolo img:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}
.Mundial video {
  display: block;
  margin: 0 auto;
  width: 1000px;
  height: auto;
  border-radius: 30px;
}
.Uniformes iframe {
  display: block;
  margin: 0 auto;
  width: 1000px;
  border-radius: 30px;
}
.Formulario {
  background: #1c1c1c;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 30px;
}
.Formulario1 form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Formulario h2 {
  color: #ffffff;
  text-align: center;
}
.Formulario img {
  width: 400px;
  height: auto;
}
.Idolos p {
  text-align: center;
  max-width: 1000px;
  margin: auto;
  line-height: 1.6;
}
.linha1 img:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}
.linha2 img:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}
.linha3 img:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}
.linha4 img:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}
.linha img:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}
